# Entornos y Credenciales
.env
.env.production
.env.local
*.pem
*.key
*firebase*.json
*service-account*.json
config/*.json

# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos Generados y Temporales
output/
dist/
build/
.next/
.vercel/
tsconfig.tsbuildinfo
scratch/
.DS_Store

# Logs
*.log

